.price-card {
  padding-block: toRem(32);

  @include tablet {
    padding-block: toRem(62);
  }
  @include desctop {
    padding-block: toRem(82);
  }

  &__title {
    text-align: center;
    margin-bottom: toRem(5);
  }

  &__subtitle {
    text-align: center;
    margin-bottom: toRem(15);

    @include tablet {
      margin-bottom: toRem(35);
    }

    @include desctop {
      margin-bottom: toRem(60);
    }
  }

  &__setup-inner {
    display: flex;
    flex-direction: column;
    font-size: toRem(14);
    row-gap: toRem(20);
    padding-bottom: toRem(26);

    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1.5px;
      background-color: $price-card-border;
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: toRem(36);
    }
  }

  &__setup-info {
    color: $text;
  }

  &__setup-selects-inner {
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);

    @include tablet {
      column-gap: toRem(50);
      row-gap: 0;
      flex-direction: row;
    }
  }

  &__setup-select-name {
    margin-right: toRem(15);
  }
}
