* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.container {
  padding: 0 15px;

  @media (min-width: 700px) {
    padding: 0 30px;
  }

  @media (min-width: 1200px) {
    margin: auto;
    max-width: 1200px;
  }
}