* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: $general;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  padding: 0 1rem;

  @media (min-width: 700px) {
    padding: 0 2rem;
  }

  @media (min-width: 1200px) {
    margin: auto;
    max-width: 1200px;
  }
}

.title {
  font-size: 20px;
  color: $secondary;
  font-weight: 700;

  @include tablet {
    font-size: 30px;
  }

  @include desctop {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 14px;
  color: $secondary;
  font-weight: 700;

  @include tablet {
    font-size: 16px;
  }
}
