//colors

$general: #000;
$secondary: #2D3748;
$text: #4A5568;
$button-red: #EA0774;
$button-grey: #EDF2F7;
$button-white: #F7FAFC;
$price-card-border: #CBD5E0;

//sizes

$font-size: 16;


//timings

$transition-duration: 0.3;